p {
    color: orange;
}
ul{
    list-style-type: lower-greek;
}
.desafio1{
    color: rgb(160, 164, 221);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#lista1{
    color: blue;
}
#lista2{
    color: blue;
    background-color:rgb(196, 255, 181);
    height: 80px;
    width: 120px;
    border-radius: 20px;
}

.atividadeoverflow {
    border: solid 1px black;
    display: inline-block;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    width: 170px;
    height: 80px;
    padding: 5px 10px 12px 3px;
    margin-bottom: 100px;
}

.atividade2 {
    border: solid 3px black;
    border-radius: 10px;
    display: inline-block;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    width: 50px;
    padding: 6px 9px 6px 9px;
    margin: 5px 8px 5px 8px;
    overflow: hidden;
    border-style: dotted;
}